@font-face{
    font-family: "Cousine";
    font-weight: normal;
    font-style: normal;
    src: ('../fonts/Cousine-Regular.ttf');
}

@font-face{
    font-family: "Cousine";
    font-weight: bold;
    font-style: normal;
    src: ('../fonts/Cousine-Bold.ttf');
}

@font-face{
    font-family: "Cousine";
    font-weight: normal;
    font-style: italic;
    src: ('../fonts/Cousine-Italic.ttf');
}

@font-face{
    font-family: "AnonymousPro-Regular.ttf";
    font-weight: normal;
    font-style: normal;
    src: ('../fonts/AnonymousPro-Regular.ttf');
}

@font-face{
    font-family: "AnonymousPro.ttf";
    font-weight: bold;
    font-style: normal;
    src: ('../fonts/AnonymousPro-Bold.ttf');
}

@font-face{
    font-family: "AnonymousPro.ttf";
    font-weight: normal;
    font-style: italic;
    src: ('../fonts/AnonymousPro-Italic.ttf');
}