body{
    color: rgb(174, 174, 174);
    margin: 1.5em;
    font-family: 'Lexend',sans-serif;
    background-color: rgb(0, 0, 0);
}

/* margins with em and fonts with rem */

a{
    text-decoration: none;
    font-size: 1.3rem; 
}

/* .banner{
    margin-bottom: 10em;
} */

nav{
    position: fixed;
    right: 0;
    top: 0;
    background: aliceblue;
    height: 100vh;
    width: 50%;
    z-index: 999;
    text-transform: uppercase;
    transform: translateX(100%);

    /* get to working later with java */
    transition:transform .5s ease-in-out;

    ul{
        list-style: none;
        padding: 0;
        margin-top: 8em;

        a{
            color: rgb(236, 235, 255);
            padding: .75em 2em;
            display: block;

            &:hover{
                background:rgb(171, 217, 255);
            }
        }

    }
    .close_icon{
        float: right;
        margin: 2em;
        width: 2.5em;
        
    } 


}

.contactus_container{
    position: relative;
    .review,.newsletter{
        width: 50%;
        /* Center vertically and horizontally */
        position: absolute;
        top: 50%;
        left: 50%;
        margin: 0 0 0 -25%;
        background-color: rgb(0, 46, 50);
        
        input {
        width: 100%;
        }
    
    }
}
.contacts_message{
        width: 500px;
        background-color: rgb(211, 251, 255);
        
        input {
        width: 100%;
        }

}



.banner{
    padding: 5em 5em;
    margin: 0em 0em;
    background-image: url(../images/bg.png);
    .landingpage_banner{
        position: absolute;
        top: 0;
        left: 0;
        
        /* background-size: cover; */
        background-position-x: 0;
        background-position-y: 10%;
        width: 100%;
        height: 100%;
        z-index: -1;
        background-repeat: no-repeat;
        /* the image is in the background hence -1 */
    }

    p{
        margin:0em ,1em;
    }
}


.logo{
/* potentially adding text later, rn it's png?\ */
}

header{
    display: flex;
    justify-content: space-between;

    svg{
        width: 3em;
        margin-top: -.6em;
        cursor: pointer;
    }
}

h1{
    font-size: 3rem;
    margin: 1em 1em;
    line-height: 3.3rem;
}

h2{
    font-size: 2em;
    margin: 2em 1em;
    line-height: 2.2rem;
}

p{
    margin: 1em 1em;
}

button{
    display: inline-block;
    padding: 0.5rem;
    border-radius: 20px;
    background-color: white;
    text-decoration: none;
    transition-duration: 0.2s;
    border: 2px solid rgb(8, 166, 228);
    border: 1em;
}

div{
    margin:3em 1em;
}

section.landingpage-banner{

    color: rgb(251, 251, 255);
    height: 90vh;
    svg{
        /* I can add some special designs here */
    }
}

.product{
    position: relative;
    position: center;
    text-align: center;
    img{
        width: 100%;
        object-fit: cover;
        height: 11em;
    }

    .title{
        font-weight: bold;
    }
    .desc{
        line-height: 1.5rem;
    }

    width: 50%;
}

@media only screen and (min-width:430px){
    .banner{
        margin-bottom: 3em;
    }
}
@media only screen and (min-width:430px){
    .banner{
        margin-bottom: 8em;
    }
    
    body{
        color: rgb(255, 255, 255);
        font-family: 'Lexend',sans-serif;
        background-color: rgb(1, 14, 21);
    }
}
@media only screen and (min-width: 824px) {

    .menu_icon{
        display: none;
    }

    nav{
        transform: translateX(0);
        position: unset;
        display: block;
        width:auto;
        height: auto;
        background: none;
        svg.close_icon,svg.menu-icon{
            display: none;
        }

        ul{
            display: flex;
            margin: 0;
        }
        a{
            color: aqua;
            padding: .5em 1.5em;
            font-size: .9em;
            
            &:hover{
                background: none;
                text-decoration: underline;
            }
        }

    }
    
}

@media only screen and (min-width: 1200px) {

    .menu-icon{
        display: none;
    }

    nav{
        transform: translateX(0);
        position: unset;
        display: block;
        width:auto;
        height: auto;
        background: none;
        svg.close_icon,svg.menu-icon{
            display: none;
        }

        ul{
            display: flex;
            margin: 0;
        }
        a{
            color: aqua;
            padding: .5em 1.5em;
            font-size: .9em;
            
            &:hover{
                background: none;
                text-decoration: underline;
            }
        }

    }
    
}


/* Product Listing Styling */
.product_listings{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin:auto;
    justify-content: center;
    padding: 1rem;
  }
  
  .applevisionpro{
    padding: 3rem;
    max-width: 300px;
    max-height: 300px;
    text-align: center;
    /* background-color: rgb(28, 152, 224); */
  }
  
  .huiontablet{
    padding: 3rem;
    max-width: 300px;
    max-height: 300px;
    text-align: center;
    /* background-color: rgb(224, 67, 28); */
  }
  
  .drawing_pen{
    padding: 3rem;
    max-width: 300px;
    max-height: 300px;
    text-align: center;
    /* background-color: rgb(255, 232, 29); */
  }
  
  .screen_protector{
    padding: 3rem;
    max-width: 300px;
    max-height: 300px;
    text-align: center;
    /* background-color: rgb(14, 189, 145); */
  }
  
  .product_description{
    max-width: max-content;
  }
  
  .product_price{
    text-align: center;
  }
  
  .add_to_cart{
    display: inline-block;
    text-decoration: none;
    border-radius: 20px;
    padding: 0.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    background-color: white;
    transition-duration: 0.2s;
    border: 1px solid rgb(8, 166, 228);
    font-family: "Cousine";
  }
  
  .add_to_cart:hover{
    background-color: rgb(228, 228, 228);
    transition-duration: 0.3s;
  }
  /* End of Prooduct Listing Styling */

  /* Checkout Cart Styling */
.checkout_cart_container{
    display: flex;
    
    margin:auto;
    padding: 3rem;
    max-width: 80%;
    text-align: left;
    background-color: #474747;
    color: rgb(241, 241, 241);
  }
  
  .checkout_total{
    text-align: right;
  }

  /* Billing Styling */
.payment_container{
    display: flex;
    justify-content: center;
  
    margin:auto;
    padding: 1rem;
    /* max-width: 400px; */
    text-align: left;
    background-color: #474747;
    color: rgb(241, 241, 241);
  }
  
  .billing_container{
    display: flex;
    flex-direction: column;
  }
  
  .card_container{
    display: flex;
    flex-direction: column;
  }
  
  .paymentinput{
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 20px;
    border: 1px solid rgb(112, 112, 112);
    border-radius: 5px;
  }
  
  .paymentinput:hover, .paymentinput:focus{
    background-color: rgb(243, 243, 243);
    border: 1px solid black;
  }
  
  .submitbutton{
    display: inline-block;
    text-decoration: none;
    border-radius: 5px;
    padding: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: rgb(8, 166, 228);
    transition-duration: 0.2s;
    border: 1px solid rgb(8, 166, 228);
    color: white;
    font-family: "Cousine";
  }
  
  .submitbutton:hover{
    background-color: rgb(88, 206, 235);
  }
  /* End of Billing Styling */